In [56]:
###  dependencies  ###
import pandas as pd
import numpy as np

In [57]:
# File path to listings.csv
listings_csv_path = "Data Files for AirBnB Project/listings.csv"

#read listings.csv into a database
listings_df = pd.read_csv(listings_csv_path)
listings_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3362,"Convention Center Rowhouse & In Law: 2 Units, 4BR",2798,Ayeh,NaN,"Shaw, Logan Circle",38.910461,-77.019331,Entire home/apt,433,2,155,2019-01-26,1.27,5,300
1,3662,Vita's Hideaway II,4645,Vita,NaN,Historic Anacostia,38.861925,-76.989634,Private room,65,2,35,2018-06-02,0.37,3,340
2,3686,Vita's Hideaway,4645,Vita,NaN,Historic Anacostia,38.863138,-76.988362,Private room,55,2,68,2018-10-27,0.67,3,296
3,3771,Mt. Pleasant,4795,Charlene,NaN,"Columbia Heights, Mt. Pleasant, Pleasant Plain...",38.927605,-77.039265,Private room,88,1,1,2009-01-21,0.01,1,0
4,4002,2 Bedroom Private Condo Suite (Basement Apt),5143,Anthony,NaN,"North Michigan Park, Michigan Park, University...",38.940084,-76.989360,Entire home/apt,120,2,149,2018-11-13,1.22,1,316

In [58]:
print(f"listings.csv has {len(listings_df)} rows")

listings.csv has 9001 rows

In [59]:
###  delete rows with o days availability  ###
#save the length of listings.csv
listing_ln_prior = len(listings_df)
#delete rows that have 0 annual avalability
listings_df = listings_df[listings_df.availability_365 != 0]
#save the length of listings after deleting entries with 0 availability
listing_ln_post = len(listings_df)
#find how many properties were deleted and print result
avail_listings = listing_ln_prior - listing_ln_post
print(f"{avail_listings} were removed for having 0 availability")
print(f"{listing_ln_post} properties remain")

2574 were removed for having 0 availability
6427 properties remain

In [60]:
###  check if each d is a unique property ###
#find the number of unique id's in the id column
id_cnt = listings_df.id.nunique()
#compare the number of unique id's to the total number of properite in listings
if id_cnt == listing_ln_post:
    print("id's are unique")
else:
    print("id's are not unique")

id's are unique

In [61]:
###  drop unecessary columns  ###
del listings_df["name"]
del listings_df['host_id']
del listings_df['host_name']
del listings_df['neighbourhood_group']
listings_df.head()

,id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3362,"Shaw, Logan Circle",38.910461,-77.019331,Entire home/apt,433,2,155,2019-01-26,1.27,5,300
1,3662,Historic Anacostia,38.861925,-76.989634,Private room,65,2,35,2018-06-02,0.37,3,340
2,3686,Historic Anacostia,38.863138,-76.988362,Private room,55,2,68,2018-10-27,0.67,3,296
4,4002,"North Michigan Park, Michigan Park, University...",38.940084,-76.989360,Entire home/apt,120,2,149,2018-11-13,1.22,1,316
5,4197,"Capitol Hill, Lincoln Park",38.887906,-76.996678,Private room,83,4,37,2018-09-30,0.31,2,95

In [63]:
###  find the number of properties in each neighborhood  ###
#group by neighborhood and find the number of properties and average price for each neighborhood 
loc_dfg = listings_df.groupby("neighbourhood").agg({"id":"count", "price":"mean"})
#remane columns in groupby
loc_dfg.rename(columns={'id': 'number of properties', 'price':'average price'}, inplace=True)
loc_dfg

,number of properties,average price
neighbourhood,,
"Brightwood Park, Crestwood, Petworth",349,142.432665
"Brookland, Brentwood, Langdon",109,109.807339
"Capitol Hill, Lincoln Park",625,220.713600
"Capitol View, Marshall Heights, Benning Heights",53,98.169811
"Cathedral Heights, McLean Gardens, Glover Park",58,230.103448
"Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace",77,227.597403
"Colonial Village, Shepherd Park, North Portal Estates",29,130.862069
"Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View",576,139.647569
"Congress Heights, Bellevue, Washington Highlands",65,161.938462
"Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights",35,102.400000
"Douglas, Shipley Terrace",17,167.352941
"Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street",291,314.075601
"Dupont Circle, Connecticut Avenue/K Street",482,191.302905
"Eastland Gardens, Kenilworth",11,51.363636
"Edgewood, Bloomingdale, Truxton Circle, Eckington",525,149.120000
"Fairfax Village, Naylor Gardens, Hillcrest, Summit Park",20,109.250000
"Friendship Heights, American University Park, Tenleytown",69,145.333333
"Georgetown, Burleith/Hillandale",189,290.708995
"Hawthorne, Barnaby Woods, Chevy Chase",41,352.926829
Historic Anacostia,41,88.243902
"Howard University, Le Droit Park, Cardozo/Shaw",236,204.775424
"Ivy City, Arboretum, Trinidad, Carver Langston",174,129.448276
"Kalorama Heights, Adams Morgan, Lanier Heights",241,183.659751
"Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill",66,137.727273
"Mayfair, Hillbrook, Mahaning Heights",38,74.605263
"Near Southeast, Navy Yard",48,160.895833
"North Cleveland Park, Forest Hills, Van Ness",46,196.326087
"North Michigan Park, Michigan Park, University Heights",67,92.507463
"River Terrace, Benning, Greenway, Dupont Park",37,183.324324
"Shaw, Logan Circle",433,209.484988
"Sheridan, Barry Farm, Buena Vista",33,105.393939
"Southwest Employment Area, Southwest/Waterfront, Fort McNair, Buzzard Point",92,232.206522
"Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir",70,249.642857
"Takoma, Brightwood, Manor Park",125,99.376000
"Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont",101,132.831683
"Union Station, Stanton Park, Kingman Park",629,222.284579
"West End, Foggy Bottom, GWU",262,467.916031
"Woodland/Fort Stanton, Garfield Heights, Knox Hill",11,134.636364
"Woodridge, Fort Lincoln, Gateway",56,146.767857